#hero {
  background: linear-gradient(
      to right,
      rgba(53, 45, 40, 0.507),
      rgba(53, 45, 40, 0.507)
    ),
    url(../../../assets/banner.jpg);
  object-fit: cover;
  min-height: 87vh;
}
